*{
	margin: 0;
	padding: 0;
	font-family:'Montserrat', sans-serif;
	
}

.app{
	height: 100vh;
	background-image: linear-gradient(
        to right bottom,
        #000000,#434343);
}

.pomodoro__circle--big{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
}

.timer{
	color: black;
	font-size: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
}

.pomodoro__circle--small{
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	z-index: 1000;
	transform-origin: 1rem 10.1rem;
	transition: all 1.4s;
		
}

.buttons-box{
	
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;

}

.button-off{
	display: none;
	justify-content: space-evenly;
}

.button-on{
	display: flex;
	justify-content: space-evenly;
	
   
}



.btn,
.btn:link,
.btn:visited,
.btn:hover
.btn:active{
	padding: .6rem 3rem;
	border: solid 2px white;
	border-radius: 2rem;
	text-transform: uppercase;
}
.btn-a{
	color: white;
	text-decoration: none;
}

.btn-black-a{
	color: black;
	text-decoration: none;
}

.btn-black{
	border: solid 2px black;
}


.open-menu{
	
	
}

.open-menu img {
	position: absolute;
	top: 10%;
	right: 1%;
	transform: translate(-50%, -50%);
	width: 3rem;
	
}
.menu{
	height: 100vh;
	width: 30%;
	position: absolute;
	right: 0;
	background-color: white;
	list-style: none;
	text-transform: uppercase;
	transition: all 1s;
		
}

.off-screen{
	display: none;
}

.header-2{
	margin: 2rem auto;
	text-align: center;
	
}

.header-2:after{
	display: block;
	height: 2px;
	background-color: rgb(29, 29, 29);
    content: " ";
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.setting{
	display: flex;
	justify-content: space-evenly;
}

.input{
	width: 30%;
	border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    padding: .4rem 1.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    transition: border 0.3s;
}

.list{
	text-align: center;
	list-style: none;
}

.list li:last-child{
	margin-top: 18rem;
}



/* ************************************** */
/* The switch slider */
/* ************************************** */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-left: 1rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #56AB2F;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #56AB2F;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
