//FONT SIZES
$mini: .8rem;        //8px
$small: 1.2rem;     //12px
$default: 1.6rem;   //16px
$large: 2rem;       //20px

//FONTS FAMILY
$title-font: 'Lobster', cursive;
$primary-font: 'Quicksand', sans-serif; 
$button-font: 'Roboto', sans-serif;

//PRIMARY COLORS
$color-primary-1: #ef1515;
$color-primary-2: #bf0d0d;
//SECONDARY COLORS
$color-secondary-1: #f2f2f2;
$color-secondary-2: #fafafa;
//MISCELANIUS COLORS
$color-white: #ffffff;
$color-black: #000000;
