*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a, a:visited, a:link {
    text-decoration: none;
    font-size: $default;
    outline: none;
}

body {
    box-sizing: border-box;
    padding: 1rem   0;
    display: grid;
    margin: 0 auto;
    background-color: #f7f7f7;

    //1920x1080 px resolution
    width: 120rem;
    grid-template-columns: [start] 70rem [set-end list-start] 1fr [end];
    grid-row-gap: 1.5rem;
    grid-template-rows: [start] 15rem [header-end set-start] 50rem [set-end];
    grid-column-gap: 1.5rem;
}

